*.pyc
config/dot.jupyter/passwd
config/keys/*
.idea
config/jupyter/*
config/dot.theano/*
!.gitkeep
notebooks/try
.DS_Store
.ipynb_checkpoints
*.bz2
notebooks/LSTM-enshu1-answer.ipynb
notebooks/LSTM-enshu2-answer.ipynb
