*.pyc
config/dot.jupyter/passwd
config/keys/*
.idea
config/jupyter/*
config/dot.theano/*
!.gitkeep
notebooks/try
.DS_Store
.ipynb_checkpoints
*.bz2
notebooks/*-answer.ipynb
notebooks/data/hiden_no_tare_enshu3.back.h5
